services:
    postgres:
        container_name: database
        ports:
            - "5431:5432"
        image: postgres:15
        environment:
            POSTGRES_USER: "${POSTGRES_USER}"
            POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
            interval: 5s
            timeout: 60s
            retries: 5
            start_period: 80s
    server:
        container_name: server
        build:
            context: ./server
            dockerfile: Dockerfile
        ports:
            - "7999:8000"
        command: bash -c "npx prisma migrate deploy && npx prisma db seed && npm start"
        environment:
            DATABASE_URL: "${DATABASE_URL}"
            SERVER_PORT: "${SERVER_PORT}"
            NODE_ENV: "${NODE_ENV:-production}"
            DOCKER_ENV: "true"
        depends_on:
            postgres:
                condition: service_healthy
    client:
        container_name: client
        build:
            context: ./client
            dockerfile: Dockerfile
            args:
                VITE_SERVER_URL: "${VITE_SERVER_URL:-http://localhost:7999}"
        command: bash -c "npm run preview"
        ports:
            - "4172:4173"
        environment:
            VITE_SERVER_URL: "${VITE_SERVER_URL:-http://localhost:7999}"
        depends_on:
            - server

volumes:
    postgres_data:
